@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Aplicamos la nueva fuente */
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  color: rgba(80, 80, 80, 0.85);
}

.app-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 32px;
  color: rgba(80, 80, 80, 0.85);
}

.main-content {
  display: flex;
  gap: 30px;
  /* Se asegura de que las secciones no cambien de tamaño según el contenido */
  justify-content: space-between;
}

/* Estilos para la sección del formulario */
.form-section {
  flex: 1.5;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public//images/form-background.jpg'); /* Ruta de la imagen local */
  background-size: cover; /* La imagen cubre todo el fondo */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  color: white; /* Texto blanco para que contraste bien con la imagen */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox {
  margin-left: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.primary-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.secondary-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:hover, .secondary-button:hover {
  opacity: 0.9;
}

/* Estilos para la sección de la lista de películas */
.movie-list-container {
  flex: 2;
  max-height: 600px; /* Limita el tamaño máximo del contenedor de la lista */
  overflow-y: auto; /* Habilita el scroll si las tarjetas superan el límite de altura */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
